services:
  gopds:
    image: gopds-local
    container_name: gopds
    user: "10000:10000" # Use your actual host UID:GID
    ports:
      - "8880:8880"
    environment:
      - BOOK_PATH=/app/books
      - DB_PATH=/app/data/gopds.db
    volumes:
      # [Host Path] : [Container Path (matching the ENV above)]
      - /share/Multimedia/books:/app/books:ro  # Read-only is safer for your books!
      - ./data:/app/data                        # Read-write for DB and covers
    restart: unless-stopped
